<h1>Movies</h1>

<div class="row">
  {{#each movies}}
  <div class="col-sm-12 col-md-6">
    <div class="card" style="width: 18rem;">
      <img src="{{imageUrl}}" class="card-img-top" style="width:100%; height:300px; object-fit:cover;">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/movies/{{_id}}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>