<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{subtitle}}</p>
    <a href="/book/{{_id}}" class="btn btn-primary">Details</a>
  </div>
</div>