<form action="/login" method="POST">
  <label for="">email
    <input type="text" name="email">
  </label>
  <label for="">
    pasword
    <input name="password" type="password">
  </label>
  <button type="submit">login</button>
</form>